/*CONTACTO*/
#contactoLayout{ /*GRID LAYOUT1 INDEX*/
    background: url('../img/contacto.jpg') fixed no-repeat center/cover;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:    auto 35vh auto 15vh;
    grid-template-areas:    "header     header"
                            "banner     banner"
                            "fieldset  fieldset"
                            "footer footer";
}
.promoContacto{
    grid-area: banner;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promoContacto  div h2{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 4rem;
} 
.formulario{ 
    background-color: #1d1d1d;
    grid-area: fieldset;
    /*flex*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: row wrap;  
}
.about{
    color: #ffffff;
    font-weight: 200;
    font-size: 1.3rem;
    padding: 2rem;
    margin: 2rem auto 2rem auto; 
    width: 90%;
    background-color: #3b3b3b;
}
form{
    background-color: #3b3b3b;
    border-radius: 1rem;
    width: 50rem;
    color: white;
    padding: 2rem;
    margin: 2rem 0 4rem 0;
}
.form-control{
    background-color: #dbdbdb;
    border: none;
}
