@media only screen and (max-width: 768px) {
    html{
      font-size: 12px;}
      .navbar-brand .brand {
        font-size: 2rem;
        font-weight: 500; }
    .navbar {
      background-color: #0f0f0fbd;
      box-shadow: 0 0 1rem 0 black; }
      #titulosPrincipales h5{
        width: 90%;
        font-size: 2.3rem;
      }
      #titulosPrincipales h2{
        width: 90%;
        font-size: 2.3rem;
      }
    /*INDEX*/
    #indexLayout {
      /*GRID LAYOUT1 INDEX*/
      background: url("../img/indexNuevo.jpg") fixed no-repeat top;
      background-size: cover;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto 80vh 13vh auto auto  auto auto 15vh;
      grid-template-areas: "header"
   "banner"
   "redes"
   "section"
   "tuEnc"
   "makin"
   "notas"
   "footer"; }
   .containerFlex {
    height: 100%;
    width: 100%;}
    .titleLanzamientos h2 {
      color: #202020;
      font-size: 1.7rem;
      font-weight: 200;
      text-align: center;
      padding: 1rem 0 0 0; }
    .card {
      margin: 1rem;
      width: 80%;
      border: none;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); }
       .card-title{
        font-weight: 400;
        font-size: 1.2rem;}
        .card-text{
          font-weight: 300;
          font-size: 1.1rem;}
    /*MUSICA*/
    #musicaLayout {
      /*GRID LAYOUT MUSICA*/
      background: url("../img/bannerMusica.jpg") fixed no-repeat center/cover;
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: 100%;
      grid-template-rows: auto 30vh auto auto auto  auto 15vh;
      grid-template-areas: "header"
                            "banner"
                            "sect1"
                            "senci"
                            "sect2"
                            "album"
                            "footer"; }
   .tituloLanzamientos h2, .tituloDiscografia h2 {
     text-align: center;
    font-size: 2.5rem;}
    #albumTapa {
      width: 40rem; }
      .albumList ul li a {
        color: #202020;
        font-size: 1.5rem;
        font-weight: 200; }
    .albumList {
      width: 90%;
      margin: 1rem 0; }
    .containerSeccionSencillos .sencillos {
      width: 100%;
      margin: auto; }
    .sencillos .sencillosPort {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
    .imgSencillo {
      width: 100%;
      overflow: hidden;
      position: relative;
      margin: 1rem 1rem;
      cursor: pointer;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); }
    /*SHOWS*/
    #showsLayout {
      /*GRID LAYOUT1 INDEX*/
      background: url("../img/showsBanner.jpg") fixed no-repeat center/cover;
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: auto 30vh auto auto auto  auto 15vh;
      grid-template-areas:  "header"
                            "banner"
                            "tabla"
                            "tour"
                            "tour1"
                            "tour2"
                            "footer";}
      .tablaEventos table {
        width: 90%;
        text-align: center;
        font-weight: 300;
        color: #202020;
        font-size: 1.5rem;
       }
       .tourPort{
        width: 100%;
        margin: auto;
        padding: 2rem 0;} 
    /*media*/
    .carouselVideos{
      width: 100%;
  }
    .fotos {
      width: 100%;
      margin: auto;
      padding: 1rem 1rem;}
      .imgPort {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
      .imgGaleria {
        min-width: 320px; } 
  /*contacto*/      
  form {
    background-color: #3b3b3b;
    width: 90%;
    color: white;
    padding: 2rem;
    margin: 2rem 0 4rem 0; }  }
  