/*MUSICA*/
#musicaLayout {                                  
    background: url("../img/bannerMusica.jpg") fixed no-repeat top;
    background-size: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 30vh auto auto auto  auto 15vh;
    grid-template-areas:  "header     header"
                          "banner     banner"
                          "sect1      sect1"
                          "senci      senci"
                          "sect2      sect2"
                          "album      album"
                          "footer     footer"; }
  .tituloLanzamientos {
    background-color: #dbdbdb;
    height: 100%;
    padding: 3rem 0 3rem 0;
    grid-area: sect1;
    align-self: center;}
  .tituloLanzamientos h2 {
    width: 50%;
    border-bottom: 1px solid #202020;
    border-top: 1px solid #202020;
    margin: auto;
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    color: #202020;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.4); }
  .containerSeccionSencillos {
    grid-area: senci;
    background-color: #dbdbdb;
    width: 100%;
    padding: 1rem 0; }
  .containerSeccionSencillos .sencillos {
    width: 90%;
    margin: auto;
    border: 1px solid #3b3b3b; }
  .sencillosPort {
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .imgSencillo {
    width: 15%;
    margin: 1rem 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); }
  .imgSencillo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .hoverSencillo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: transform .5s;
    transform: scale(0);
    background-image: linear-gradient(rgba(0, 0, 255, 0.61), rgba(255, 0, 0, 0.568));
    display: flex;
    justify-content: center;
    align-items: center; }
  .hoverSencillo img {
    width: 3.6rem; }
  .iconos:hover {
    transition: all 0.5s;
    transform: scale(1.2); }
  .imgSencillo:hover .hoverSencillo {
    transform: scale(1); }
  .tituloDiscografia {
    background-color: #dbdbdb;
    height: 100%;
    padding: 3rem 0 3rem 0;
    grid-area: sect2;
    align-self: center }
  .tituloDiscografia h2 {
    width: 50%;
    border-bottom: 1px solid #202020;
    border-top: 1px solid #202020;
    margin: auto;
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    color: #202020;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.4); }
  .containerSeccionDiscografia {
    background-color: #dbdbdb;
    width: 100%;
    grid-area: album;
    padding: 1rem 0; }
  #albumTapa {
    width: 22rem;
    align-self: center; }
  .albumList {
    width: 50%;
    margin: 1rem 0; }
  .albumList ul li {
    border-bottom: 1px solid gray; }
  .albumList ul li a {
    color: #202020;
    font-size: 2rem;
    font-weight: 200; }
  .albumList ul li a:hover {
    transition: all 0.4s;
    text-decoration: none;
    color:red; }
  