@import 'index';
@import 'contacto';
@import 'musica';
@import 'shows';
@import 'media';
@import 'mediaqueri';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif; }
  html {
    font-size: 16px; }
  .iconos {
    width: 3rem;
    margin: 0.2rem 0.5rem 0 0.5rem; }
  a {
    text-decoration: none; }
  ul {  
    list-style: none; }
  
  /*HEADER GENERAL*/
  header {
    grid-area: header;
    align-self: center; }
  .navbar-brand h1 {
    font-size: 2.5rem;
    font-weight: 500; }
  .nav-link {
    font-size: 1.7rem;
    font-weight: 300; }
  
  /*BANNER DE SECCIONES - MENOS EL INDEX*/
  .promoGeneral {
    grid-area: banner;
    align-self: center;
    justify-self: center; }
  .promoGeneral h2 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 4rem;
    color: #dbdbdb }
  
  /*FOOTER GENERAL*/
  footer {
    grid-area: footer;
    height: 100%;
    background-color:#202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  footer h2 {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    color: white; }
  footer h4 {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
    color: white; }
  
  
  
  
    
  