<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="keywords" content="conociendo rusia, mateo sujatovich, loco en el desierto, cabido y juramento,">
    <title>Conociendo Rusia | Shows</title>
</head>
<body>
<section id="showsLayout"> 
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-none">
        <a class="navbar-brand" href="index.html"><h1 class="brand">CONOCIENDO RUSIA</h1></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="musica.html">Música</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="shows.html">Shows</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="media.html">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                </li>
              </ul>
        </div>
      </nav>
</header>
    <div class="promoGeneral">
        <h2>SHOWS</h2>
    </div>

    <div class="containerTablaEventos">
        <DIV class="titleShows" id="titulosPrincipales">
            <h2>PROXIMOS SHOWS</h2>
        </DIV>
        <div class="tablaEventos">
            <Table>
                <tr>
                    <td>02 ABRIL 2021</td>
                    <td>NICETO CLUB</td>
                    <td>TICKETS AGOTADOS</td>
                </tr>
                <tr>
                    <td>03 ABRIL 2021</td>
                    <td>NICETO CLUB</td>
                    <td>TICKETS AGOTADOS</td>
                </tr>
                <tr>
                    <td>20 ABRIL 2021</td>
                    <td>MANDARINE CLUB</td>
                    <td>TICKETS AGOTADOS</td>
                </tr>
                <tr>
                    <td>24 ABRIL 2021</td>
                    <td>GRAN REX</td>
                    <td><a href="https://www.ticketek.com.ar/conociendo-rusia/teatro-gran-rex" target="_blank">TICKETS</a></td>
                </tr>       
            </Table>
        </div>
    </div>
    
    <div class="tourContainter">
        <DIV class="titleShows" id="titulosPrincipales">
            <h2>E-WORLD TOUR</h2>
        </DIV>
        <div class="tourPort">
            <div class="iframeContainer">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/CHdrQMzl6s0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> 
        </div>
    </div>

    <div class="containerShows1"> <!--PRIMER VIDEO-->
        <div class="titleLanzamientos">
            <h2>Lollapalooza 2019 - Parte 1</h2>
        </div>
        <div class="containerFlex">
            <div class="iframeContainer">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/NLp52F6-tpU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="containerShows2"> <!--SEGUNDO VIDEO-->
        <div class="titleLanzamientos">
            <h2>Lollapalooza 2019 - Parte 2</h2>
        </div>
        <div class="containerFlex">
            <div class="iframeContainer">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/nkfpvtA_Kdo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <footer>
        <h2> &copy; Conociendo Rusia - 2020</h2>
        <h4>Diseñado por Mathías Petulla</h4>
    </footer>

</section>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>